<div class="row">
  <div class="col-md-6">

<<<<<<< HEAD
    <h1 id="greeting">Welcome to the TaskManager!</h1>
=======
    <h1>Welcome to the Task Manager</h1>
>>>>>>> 26e279aaf4d9781f5aff71f846f4893491adefc1

    <ul class="blue">
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">New Task</a></li>
    </ul>
  </div>
</div>
